.big-head-sec {
	padding-bottom: $pad-l;
	padding-top: $pad-l;
	background: url("../img/big-head/bg-big-head.jpg") no-repeat center top, $blue;
	background-size: cover;
	@include res(m) {
		padding-bottom: $pad-m;
		padding-top: $pad-m;
	}
}

.big-head {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #fff;
	@include res(s) {
		min-height: initial;
	}
}

.big-head__title {
	width: 100%;
	padding-bottom: 50px;
	@include res(l) {
		padding-bottom: 40px;
	}
	@include res(s) {
		padding-bottom: 30px;
	}
	span {
		display: inline-block;
		max-width: 680px;
		font-weight: 300;
		font-size: 20px;
		line-height: 1.3;
		@include res(l) {
			font-size: 18px;
		}
		@include res(s) {
			font-size: 16px;
		}
	}
}

.big-head__contact {
	width: 100%;
	display: flex;
	align-items: center;
	@include res(xs) {
		flex-direction: column;
		align-items: flex-start;
	}
}

.big-head__contact-info {
	max-width: 300px;
	margin-right: 40px;
	@include res(xs) {
		margin-right: 0;
		margin-bottom: 15px;
	}
	p {
		font-size: 20px;
		@include res(xs) {
			font-size: 18px;
		}
	}
	span {
		display: block;
		line-height: 1.5;
		font-size: 14px;
		@include res(xs) {
			font-size: 12px;
		}
	}
}